boto3     
botocore     
certifi  
chardet       
click       
dataclasses       
docutils      
filelock      
idna       
jmespath  
joblib
numpy   
pandas       
pip    
python-dateutil
pytz   
regex
requests   
s3transfer      
sacremoses    
scikit-learn
scipy       
sentencepiece      
setuptools      
six      
sklearn         
tokenizers       
torch       
tqdm      
transformers       
urllib3      
wheel      
